.uzytkownik
{
    height: 100px;
    overflow: auto;
}
tr:nth-child(even){
    background-color:white;
}
tr:nth-child(odd){
    background-color: green;
}
th{


}

.row{
    position: relative;
    border: solid;
    background-color: black;
    height: 50px;
}
h2{
    color : white;
    text-align: center;
}
.container{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.tablink{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.row2{

}
.form-group{


}
.info{
    padding-top: 1%;

}
.tablink {
    background-color: black;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%s;
}


.samochody {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 200px;
    height: 200px;
    overflow: scroll;
}
.uzytkownik{
    height: 100px;
    overflow: auto;
}



#Home {background-color: #333;}
#News {background-color: #333;}
#Contact {background-color: #333;}
#About {background-color: #333;}
