.row{
    position: relative;
    border: solid;
    background-color: black;
    height: 50px;
}
h2{
    color : white;
    text-align: center;
}
.container{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
.tablink{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.row2{

}
.form-group{


}
.info{
    padding-top: 1%;
}
.tablink {
    background-color: black;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}


#Home {background-color: #555;}
#News {background-color: #555;}
#Contact {background-color: #555;}
#About {background-color: #555;}
